<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      name="title"
      [(ngModel)]="newTask.title"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      name="description"
      [(ngModel)]="newTask.description"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Due Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      name="dueDate"
      [(ngModel)]="newTask.dueDate"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select name="status" [(ngModel)]="newTask.status">
      <mat-option
        *ngFor="let status of taskStatuses | keyvalue"
        [value]="status.value"
      >
        {{ status.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!taskForm.form.valid"
  >
    Create Task
  </button>
</form>
